{% extends 'bases/base.html' %}
{% load static %}
{% block title %} Projects {% endblock title %}
{% block main_content %}
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">

            <!--begin::Row-->
            <div class="row g-6 g-xl-9">
                <!--begin::Col-->
                <div class="col-md-6 col-xl-4">
                    <!--begin::Card-->
                    <a href="{% url 'project_details' %}" class="card border-hover-primary">
                        <!--begin::Card header-->
                        <div class="card-header border-0 pt-9">
                            <!--begin::Card Title-->
                            <div class="card-title m-0">
                                <!--begin::Avatar-->
                                <div class="symbol symbol-50px w-50px bg-light">
                                    <img src="{% static 'media/svg/brand-logos/plurk.svg' %}" alt="image" class="p-3"/>
                                </div>
                                <!--end::Avatar-->
                            </div>
                            <!--end::Car Title-->
                            <!--begin::Card toolbar-->
                            <div class="card-toolbar">
                                <span class="badge badge-light-primary fw-bolder me-auto px-4 py-3">UAE Govt.</span>
                            </div>
                            <!--end::Card toolbar-->
                        </div>
                        <!--end:: Card header-->
                        <!--begin:: Card body-->
                        <div class="card-body p-9">
                            <!--begin::Name-->
                            <div class="fs-3 fw-bolder text-dark">Burj Al Arab</div>
                            <!--end::Name-->
                            <!--begin::Info-->
                            <div class="d-flex flex-wrap mb-5">
                                <!--begin::Due-->
                                <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-7 mb-3">
                                    <div class="fs-6 text-gray-800 fw-bolder">1</div>
                                    <div class="fw-bold text-gray-400">Buildings</div>
                                </div>
                                <!--end::Due-->
                                <!--begin::Budget-->
                                <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mb-3">
                                    <div class="fs-6 text-gray-800 fw-bolder">5000</div>
                                    <div class="fw-bold text-gray-400">Sensors</div>
                                </div>
                                <!--end::Budget-->
                            </div>
                            <!--end::Info-->
                        </div>
                        <!--end:: Card body-->
                    </a>
                    <!--end::Card-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
{#            <!--begin::Pagination-->#}
{#            <div class="d-flex flex-stack flex-wrap pt-10">#}
{#                <div class="fs-6 fw-bold text-gray-700">Showing 1 to 10 of 50 entries</div>#}
{#                <!--begin::Pages-->#}
{#                <ul class="pagination">#}
{#                    <li class="page-item previous">#}
{#                        <a href="#" class="page-link">#}
{#                            <i class="previous"></i>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="page-item active">#}
{#                        <a href="#" class="page-link">1</a>#}
{#                    </li>#}
{#                    <li class="page-item">#}
{#                        <a href="#" class="page-link">2</a>#}
{#                    </li>#}
{#                    <li class="page-item">#}
{#                        <a href="#" class="page-link">3</a>#}
{#                    </li>#}
{#                    <li class="page-item">#}
{#                        <a href="#" class="page-link">4</a>#}
{#                    </li>#}
{#                    <li class="page-item">#}
{#                        <a href="#" class="page-link">5</a>#}
{#                    </li>#}
{#                    <li class="page-item">#}
{#                        <a href="#" class="page-link">6</a>#}
{#                    </li>#}
{#                    <li class="page-item next">#}
{#                        <a href="#" class="page-link">#}
{#                            <i class="next"></i>#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#                <!--end::Pages-->#}
{#            </div>#}
{#            <!--end::Pagination-->#}
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->

{% endblock main_content %}
{% block extra_js %}
    <script src="{% static 'js/custom/apps/projects/list/list.js' %}"></script>
{% endblock extra_js %}